<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img height="100px" width="200px" src="../../assets/images/logg2.jpg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul style="margin-left: 10%;" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"   aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="auth.loggedIn()" aria-current="page" routerLink="/admin">All posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="auth.loggedIn()||auth.trainerloggedIn()" aria-current="page" routerLink="/mypost">My posts</a>
          </li>
          

          <li *ngIf="auth.loggedIn()||auth.trainerloggedIn()"  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </a>
            <ul style="background-color: rgba(0, 0, 0, 0.61);" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a id="drop"*ngIf="auth.loggedIn()" class="dropdown-item" href="#" >Pending Approvals</a></li>
              <li><a id="drop" *ngIf="auth.loggedIn()" class="dropdown-item" routerLink="/category" >Add/Remove category</a></li> 
              <li><a id="drop" *ngIf="auth.loggedIn()||auth.trainerloggedIn()" class="dropdown-item" routerLink="/newpost" >New post</a></li>                          
            </ul>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/trainerpost">Trainer post</a>
          </li>
         -->

          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
         

          <li   class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul style="background-color: rgba(0, 0, 0, 0.61);" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li  *ngFor="let i of cat"><a  id="drop" class="dropdown-item" (click)="category(i.category)" style="cursor:pointer;" href="/categorywise" >{{i.category}}</a></li>                         
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="auth.loggedIn()||auth.trainerloggedIn()" (click)="logoutUser()" href="#">logout</a>
          </li>
          <li *ngIf="!auth.loggedIn()&&!auth.trainerloggedIn()"  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img height="40px" width="40px" src="../../assets/images/user.png" alt="">
            </a>
            <ul style="background-color: rgba(0, 0, 0, 0.61);" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a id="drop" class="dropdown-item" *ngIf="!auth.loggedIn()||!auth.trainerloggedIn()" routerLink="/login">Login</a></li>
              <li><a id="drop" class="dropdown-item" *ngIf="!auth.loggedIn()||!auth.trainerloggedIn()" routerLink="/signup">Signup</a></li>                          
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
