<footer class="pb-3 mb-0 pt-2" style="position: relative;background-color: black;">
   <div class="mx-3 ">
    <h5 class="text-white">Links</h5>
    <a class="text-white" routerLink="">Home</a><br>
    <a class="text-white" routerLink="/contactus">contact us</a><br>
    <!-- <a class="text-white" routerLink="">career with us</a><br> -->
    <a class="text-white" routerLink="/aboutus">about us</a><br>
   </div>
    <div style="margin-left: 40%;">
        <img class="mx-2" height="50px" width="50px" src="../../assets/images/fbicon.png" alt="">
        <img class="mx-2" height="50px" width="50px" src="../../assets/images/insta icon.png" alt="">
        <img class="mx-2" height="50px" width="50px" src="../../assets/images/linkicon.png" alt="">
        <img class="mx-2" height="50px" width="50px" src="../../assets/images/twiticon.jpg" alt="">
    </div>
  <div class="text-white" style="text-align: right;margin-top: -5%;margin-right: 10px;">
    <p>version 1.0</p>
    <p>Terms and conditions</p>
  </div>
    <p class="text-white" style="text-align: center;"> copy right@2021</p>
</footer>

