<div class="px-5 py-2"  style="position:relative; background-color:black; color:white;height:100px;">
  <h2>{{newpost.category}}</h2>
</div>
<!-- articles card start --> 
  
<div class="my-5" style="margin-left: 25px;margin-right: 25px;">
    <li *ngFor="let post of postdata">
      <div style="width: 900px;margin-left: 15%;" class="card-group">
        <div  class="card mx-2">
          <img [src]="post.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 >{{post.title}}</h5>
            <p>By {{post.author}} </p>
            <small style="cursor: pointer; color: blue;" (click)="displaypost(post)">Read more</small>
            <br><br>
            <button class="btn btn-outline-primary mx-3" *ngIf="auth.loggedIn()" (click)="editPost(post)">Edit</button>
            <button class="btn btn-outline-danger" *ngIf="auth.loggedIn()"  (click)="deletePost(post)">Delete</button>
          </div>
         
        </div>
       
      </div>
    </li>
    
    
    </div>
    <!-- article cards end -->