#log{
  
    border: 2px solid white;
    text-align: center;
     margin-left: 30%;
     margin-right: 29%;
     height: 400px;
     background-color: #00000086;
     padding-top: 3%;
     border-radius: 7px;
    
  }
  #logbut{
    width: 35%;
    border: 2px solid rgb(5, 5, 5);
   background-color: white;
   color: black;
  }
  #logbut:hover{
    
   border: 2px solid  #f8f8f8;
   background-color:#ff0000ab ;
    color: white;
  }