
    

<section id="about" style="position: relative;"  class="light">
    <header class="title">
      <h2>ABOUT <span>US</span></h2>
      <h5> Blogs were usually the work of a single individual occasionally of a small group and often covered a single subject.Blog contain the Information of various things related to Technology, Education, News, International, Business, Sports, Entertainment and on-going college activities. The main aim of this project is to <strong>provide data to students</strong> in only one site.</h5>
    </header>

    <div class="container">
      <div class="row table-row">
        <div class="col-sm-6 hidden-xs">
          <div class="section-content">
            <div class="big-image">
                <img src="../../assets/images/tech_banner.jpg">
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="section-content">
            <div class="about-content left animated" data-animate="fadeInLeft">
              <div class="about-icon"><i class="fa fa-code"></i></div>
              <div class="about-detail">
                <h4>Clean Code</h4>
                <p>Clean code is code that is easy to understand and easy to change. ... Easy to understand means the code is easy to read, whether that reader is the original author of the code or somebody else. It's meaning is clear so it 
                    minimizes the need for guesswork and possibility for misunderstandings</p>
              </div>
            </div>

            <div class="about-content left animated" data-animate="fadeInLeft">
              <div class="about-icon"><i class="fa fa-desktop"></i></div>
              <div class="about-detail">
                <h4>Fully Responsive</h4>
                <p>Responsive web design (RWD) is a web development approach that creates dynamic changes to the appearance of a website, depending on the screen size and orientation of the device being used to view it. Responsive design relies on proportion-based grids to rearrange content and design elements.</p>
              </div>
            </div>

            <div class="about-content left animated" data-animate="fadeInLeft">
              <div class="about-icon"><i class="fa fa-cube"></i></div>
              <div class="about-detail">
                <h4>Multipurpose Design</h4>
                <p>This includes a site with multiple goals or very distinct sections. However, for that to work, you need to use a theme that's flexible in terms of both features and designs.</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /.row table-row -->
    </div> <!-- /.container -->
  </section>
