<!-- category dropdown -->
<div style="height: 70px;background-color: black;border-bottom: 1px solid white;border-top: 1px solid white;"> 
  <li  class="nav-item dropdown">
    <a style="color: white; font-size: 25px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      CATEGORIES
    </a>
    
    <ul style="background-color: rgba(0, 0, 0, 0.61);width: 100%;" class="dropdown-menu" aria-labelledby="navbarDropdown">
      <div style="background-color: rgba(0, 0, 0, 0.562);" class="container d-flex">
  
  
        <div style="border: 2px solid white;width: 300px;" class="card bg-dark text-white mx-3 my-5 dropdown-item">
            <img height="200PX" src="../../assets/images/it.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h3 class="card-title">Information <br> Technology</h3>
            
            </div>
          </div>
          <div  style="border: 2px solid white;width: 300px;" class="card bg-dark text-white dropdown-item  mx-3 my-5">
            <img height="200PX" src="../../assets/images/space.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">SPACE</h5>
             
            </div>
          </div>
          <div  style="border: 2px solid white;width: 300px;"  class="card bg-dark text-white dropdown-item mx-3 my-5">
            <img height="200PX" src="../../assets/images/electronics.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">ELECTRONICS</h5>
              
            </div>
          </div>
          <div style="border: 2px solid white;width: 300px;"  class="card bg-dark text-white dropdown-item mx-3 my-5">
            <img height="200PX" src="../../assets/images/6.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 style="margin-left: 10%;" class="card-title">ROBOTICS</h5>
              
            </div>
          </div>
          <div style="border: 2px solid white;width: 300px;" class="card bg-dark text-white my-5 dropdown-item mx-3">
            <img height="200PX" src="../../assets/images/nano.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">NANO <br> TECHNOLOGY</h5>
             
            </div>
          </div>
          
    </div>
    
                                
    </ul>
  </li>
</div>

<!-- articles card start --> 
  
<div class="my-5" style="margin-left: 25px;margin-right: 25px;">
<li *ngFor="let post of postdata">
  <div style="border: 5px solid white;width: 900px;margin-left: 15%;" class="card-group">
    <div  class="card mx-2">
      <img [src]="post.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p>By {{post.author}} </p>
        <small style="cursor: pointer; color: blue;" (click)="displaypost(post)">Read more</small>
        <br><br>
        <button class="btn btn-outline-danger" (click)="deletePost(post)">Delete</button>
      </div>
     
    </div>
   
  </div>
</li>


</div>
<!-- article cards end -->
