


<div style="position: relative;background-color: rgba(0, 0, 0, 0.671);padding-top: 2%;padding-bottom: 5px;" >
    <h2 style="margin-left: 10%;" class="my-5 text-white">Edit Trainer post</h2>
  </div>
  
  <form (ngSubmit)="edittrainerpost()" #edittrainer="ngForm" class="py-3 px-3 my-5 text-white" style="position: relative; background-color: rgba(0, 0, 0, 0.65);margin-left: 10%;margin-right: 10%;" >
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" name="P_title" [(ngModel)]="editpost.title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author name</label>
        <input type="text"  name="P_author" [(ngModel)]="editpost.author"  class="form-control" id="exampleInputPassword1" required>
      </div>
  
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Image url</label>
        <input type="text"  name="P_image" [(ngModel)]="editpost.image"  class="form-control" id="exampleInputPassword1" required>
      </div>
  
       <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Category</label>
        <input type="text"  name="P_cat" [(ngModel)]="editpost.category"  class="form-control" id="exampleInputPassword1" required>
      </div>
    
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Post</label><br>
       <textarea name="p_post"[(ngModel)]="editpost.post" cols="139" rows="10" required></textarea>
      </div>
      <button type="submit" [disabled]="edittrainer.form.invalid" class="btn text-center btn-primary">Submit</button>
  </form> 