#sign{
    
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
     margin-left: 30%;
     margin-right: 30%;
     height: 650px;
     background-color: #000000ad;
     padding-top: 1%;
     border-radius: 7px;
  }
  #but{
    border: 2px solid rgb(5, 5, 5);
    background-color: white;
    color: black;
    width: 45%;
  }
  #but:hover{
    border: 2px solid  #f8f8f8;
    background-color:#ff0000ab ;
     color: white;
  }
 