<!-- articles card start --> 
  
<div  style="margin-left: 25px;margin-right: 25px;">

    <div style="border: 5px solid white;width: 100%;" class="card-group">
      <div class="card mx-2">
        <img [src]="post.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p>{{post.author}} </p><br><br>
          <p>{{post.post}}</p><br><br>
          <button class="btn btn-outline-danger" (click)="deletePost(post)">Delete</button>
        </div>
       
      </div>
     
    </div>
  
  </div>
  <!-- article cards end -->