/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("./assets/images/a4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#bg{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
