

<!-- video -->
<div class="my-5" >
  <div style="height: 400px; width: 685px; margin-left: 25%;" class="card text-white">
    <img height="100%" src="../../assets/images/S3.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h2 style="margin-top: 4%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="card-title">WELCOME TO ICTAK TECH BLOG</h2>
      <p style=" text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-top: 6%;"> <i>Before we go through some best practices, let's get on the same page as to the purpose of the intro. And, to really understand where the intro fits, we must first zoom out and see the blog post as a whole.A lot of people may come through social media, and if you're great at SEO, they'll find your article through search engines. In each case, let's take a look at what they see before clicking over into your article.</i> 

      </p>
      
    </div>
  </div>
  <!-- <h1>WELCOME TO ICTAK TECH BLOG</h1>
  <P></P> -->
  <!-- <video width="100%" style="position:relative; height: 390px;" autoplay audio-muted loop src="https://player.vimeo.com/external/368730818.sd.mp4?s=c3953421878536e1a7db904cae7dae03e7bfad19&profile_id=139&oauth2_token_id=57447761"></video> -->
 
</div>
<!-- container of articles and news -->
<div class=" d-flex">
   <!-- news div start -->

<div style="background-color: rgba(9, 9, 10, 0.644); position: relative; height: 320px;width: 300px; margin-left: 30px;margin-top: -33%;">
  <h5>
  <marquee style="color: rgb(238, 238, 241);" class="pt-3 mx-3">News Updates . . .</marquee>
  </h5>
 
 <div class="card-group">
  <li>
    <div  style="background-color: rgba(12, 150, 120, 0.521);" class="card">
      <img height="126px" src="../../assets/images/news1.jpg" class="card-img-top" alt="...">
      <div  class="card-body">
        <p style="color: rgb(248, 246, 242); font-size: 13px;" class="card-title">Potentially Hazardous Asteroid Nereus Which Flew Past Earth Could Be Mined for Precious Metals Worth Billions <br>
          <a style="color:rgb(224, 247, 22);"  target="_blank" rel="noopener noreferrer" href="https://gadgets.ndtv.com/science/news/asteroid-nereus-flyby-earth-mine-precious-metals-usd-5-billion-space-mining-2648678">Read more</a>
        </p>
      </div>
    </div>
  </li>

</div>
<div style="background-color: rgb(7, 6, 6);"><a style="color: white;" class="mx-3" target="_blank" rel="noopener noreferrer"  href="https://gadgets.ndtv.com/news">More news</a></div>
</div>  
<!-- news div end -->
 
<!-- gadgets div start -->
  <div style="border: solid rgb(241, 239, 239) 2px; background-color: rgba(8, 8, 8, 0); position: relative; height: 320px;width: 300px; margin-left: 55%; margin-right: 20px; margin-top: -33%;" >
    <h5 style="color: rgb(244, 244, 252);" class="text-center mt-2">
    Gadgets
    </h5>
   
   <div class="card-group" >
    <li>
      <div style="background-color:rgba(244, 253, 255, 0) ;" class="card">
        <img height="126px" src="../../assets/images/phone.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p style="color: white;" class="card-title">Roborock S7 Robot Vacuum cleaner<br>
            <a target="_blank" rel="noopener noreferrer" href="https://www.amazon.com/dp/B08VHXZZ22?ots=1&linkCode=ogi&tag=bp_links-20&ascsubtag=%5Bartid%7C2089.g.1962%5Bsrc%7C%5Bch%7C%5Blt%7C&th=1">Shop now</a>
          </p>
          <div style="background-color: white;"><a class="mx-3" target="_blank" rel="noopener noreferrer"  href="https://www.bestproducts.com/tech/gadgets/g1962/smart-home-automation-products/">More gadgets</a></div>
        </div>
      </div>
    </li>   
  </div>
  
  </div> 
</div>
<!-- gadgets div end -->
<div class="py-2" style="position: relative; color: white;background-color: rgba(0, 0, 0, 0.692);text-align: center;height: 80px;"><h2>Latest Articles</h2></div>
 <!-- articles card start --> 
    
<div class="my-5" style="margin-left: 25px;margin-right: 25px;">
  <li *ngFor="let post of postdata">
    <div style="width: 900px;margin-left: 15%;" class="card-group">
      <div  class="card mx-2">
        <img [src]="post.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p>By {{post.author}} </p>
          <small style="cursor: pointer; color: blue;" (click)="displaypost(post)">Read more</small>
          <br><br>
          <button class="btn btn-outline-primary mx-3" *ngIf="auth.loggedIn()" (click)="editPost(post)">Edit</button>
        <button class="btn btn-outline-danger" *ngIf="auth.loggedIn()"  (click)="deletePost(post)">Delete</button>
        </div>
       
      </div>
     
    </div>
  </li>
  
  
  </div>

<!-- article cards end -->
<!-- container of articles and news end -->
<!-- carousel start -->
<section class="testimonial my-5 px-5 py-3" style="height: 300px; position: relative;  background-color: rgba(0, 0, 0, 0.705); margin-left:25px;margin-right:25px;" >
  <div  style="height: 300px;position: relative;" class="containers">
      <owl-carousel-o   [options]="customOptions">
          <ng-template  carouselSlide>
              <img style="float: left; border-radius: 50%; height: 200px;width: 200px;"  src="../../assets/images/test2.jpg" alt="">
              <div  class="test-content text-center text-white">
                <h2>John</h2>
                <h3>Web Designer</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco  laboris
                    nisi ut aliquip ex ea commodo consequat."</p>

            </div>
          </ng-template>  
         
          <ng-template  carouselSlide>
            <img style="float: left; border-radius: 50%; height: 200px;width: 200px;"  src="../../assets/images/test1.jpg" alt="">
            <div class="test-content text-center text-white">
              <h2>Sam</h2>
              <h3>Web Developer</h3>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat."</p>

          </div>
        </ng-template>  
        <ng-template  carouselSlide>
          <img style="float: left;  border-radius: 50%; height: 200px;width: 200px;"  src="../../assets/images/test3.png" alt="">
          <div class="test-content text-center text-white">
            <h2>Doyale</h2>
            <h3>Graphic Designer</h3>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat."</p>

        </div>
      </ng-template>
       
      </owl-carousel-o>
     </div>
</section>

<!-- carousel end -->
<!-- feedback form start -->
<div>
  <div style="margin-left: 25px;" class="text-white my-5">
    <form (ngSubmit)="check()" class="py-5" style="position: relative; background-color: rgba(0, 0, 0, 0.733);width: 500px;">
      <h4 class="mx-5">Share Feedback</h4>
      <div class="mb-3 px-5">
        <label for="exampleInputEmail1"  class="form-label">Email address</label>
        <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3 px-5">
        <label for="">share your thoughts</label>
        <textarea required name="" id="" cols="50" rows="3"></textarea>
      </div>
     
      <button type="submit" class="btn btn-primary mx-5">Submit</button>
    </form>
  </div>
  
  <!-- feedback form end -->
  <div style="margin-right: 25px; float: right; margin-top: -33%; height: 500px;" class="text-white">
    <form (ngSubmit)="msg()" class="py-5" style="position: relative; background-color: rgba(0, 0, 0, 0.733);width: 500px;">
      <h4 class="mx-5">Subscribe to get notification of latest tech contents</h4>
      <div class="mb-3 px-5">
        <label for="exampleInputEmail1"  class="form-label">Your Name</label>
        <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text text-white"></div>
      </div>
      <div class="mb-3 px-5">
        <label for="exampleInputEmail1"  class="form-label">Email address</label>
        <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
      </div>
    
     
      <button type="submit" class="btn btn-primary mx-5">Subscribe</button>
    </form>
  </div>
</div>
